/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Responsive Body */
body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

/* Section Styles */
.section {
  padding: 40px;
  text-align: center;
  max-width: 100%;
}


/* parientes*/
.parent {
  padding-bottom: 40px;
}

.parent1 {
  padding: 10px;
}


/* Fondo para "Padres y Padrinos" */
.parents-section {
  position: relative;
  color: #2a6880;
  overflow: hidden;
}

/* Imagen de fondo para la sección "Padres y Padrinos" */
.parents-section .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/White\ 2\ Invitation.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.parents-section h2,
.parents-section p,
.parents-section .elegant-card {
  position: relative;
  z-index: 1;
}

.elegant-card {
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
}



h1, h2 {
  color: #2a6880;
  margin-bottom: 10px;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-size: 54px;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  color: #2a6880;
  margin-bottom: 15px;
  font-family: "Funnel Display", sans-serif;
}

.fechaBoda1 {
  font-size: 24px;
  color: burlywood;
  
}

.fechaBoda {
  font-size: 32px;
  color: burlywood;
  letter-spacing: 2px;
}

/* Estilos para la sección 2 con imagen de fondo */
.section-2 {
  position: relative;
  padding: 40px;
  text-align: center;
  color: #ffffff;
  background-image: url('images/White\ 4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

/* Opcional: superposición semi-transparente */
.section-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Shadow Box para cuadro de texto */
.shadow-box {
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  color: #2a6880;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

/* Botón Estilos */
.btn-standard {
  display: inline-flex;
  align-items: center;
  padding: 8px 15px;
  text-decoration: none;
  border: 2px solid #b3cde0;
  border-radius: 25px;
  background-color: #eaf4fc;
  color: #5a7d9a;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-standard:hover {
  background-color: #d0e4f2;
  color: #4a6d88;
}

.btn-standard .button-text {
  font-size: 20px;
  color: #5a7d9a;
}

/* Countdown Section */
#countdown {
  display: inline-flex;
  gap: 20px;
  margin-top: 10px;
}

.time-part {
  text-align: center;
}

.number {
  font-size: 1em;
  font-weight: bold;
}

.label {
  font-size: 1em;
  color: #333;
}

/* Overlay Content for "Nos Casamos" */
.overlay-content {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.nos-casamos-image {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
}

/* Contenedor de la sección "Nos Casamos" */
#nosCasamos {
  position: relative; /* Necesario para controlar el stacking context */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  z-index: 1;
}

/* Imagen fija */
#nosCasamos img {
  position: fixed; /* Permanece fija al hacer scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra toda el área */
  z-index: -1;
}

/* Sección inferior */
.section {
  position: relative;
  z-index: 2;
  background-color: white; /* Contraste para cubrir la imagen */
  padding: 40px;
}

/* Añadido para ocultar la imagen al cubrirla completamente */
#nosCasamos:after {
  content: "";
  position: absolute;
  top: 100%; /* Comienza justo debajo del contenedor */
  left: 0;
  width: 100%;
  height: 100vh; /* Misma altura que el contenedor */
  background-color: white; /* Fondo blanco para cubrir la imagen */
  z-index: 2; /* Asegura que cubra la imagen fija */
}






/* nuestra boda será*/

.prueba {
  padding-top: 200px;
}



/* Contenedor del video */
.videoMapa-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Estilo del video en pantallas grandes */
.videoMapa {
  width: 70%; /* 50% del ancho de la pantalla en pantallas grandes */
  height: auto;
  max-height: 450px;
  object-fit: cover;
  margin: 0 auto; /* Centrar el video en pantallas grandes */
}

/* Estilo del video en dispositivos móviles */
@media (max-width: 600px) {
  .videoMapa-container {
    padding: 0; /* Elimina el padding en móviles */
  }

  .videoMapa {
    width: 100%; /* Ancho completo de la pantalla en móviles */
    height: auto; /* Ajusta la altura automáticamente manteniendo proporción */
    max-height: 100vh; /* Altura máxima de la pantalla en móviles */
    object-fit: contain; /* Asegura que el video mantenga proporciones sin recortar */
  }
}

/* Dress Code Section */

.dress-code-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 15px;
}


/* Imagen adicional en la sección de Vestimenta */
#vestimenta-section {
  text-align: center;
}

.dress-code-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 15px;
}



/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 3em;
  }

  p,
  button {
    font-size: 1em;
  }

  button {
    padding: 12px 20px;
  }

}












/* Sección del Itinerario */
#itinerario-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffffff;
}

/* Contenedor del carrusel */
.carousel-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden; /* Oculta los elementos fuera del carrusel */
  border-radius: 10px;
}

/* Carrusel principal */
.carousel {
  display: flex; /* Los elementos se alinean en fila */
  transition: transform 0.5s ease-in-out; /* Animación suave al mover el carrusel */
}

/* Elementos individuales del carrusel */
.carousel-item {
  min-width: 100%; /* Cada elemento ocupa el 100% del ancho del contenedor */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.carousel-icon {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}

/* Pelotitas de navegación */
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #cccccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #2a6880;
}


















/* Sección completa que unifica "Con Amor" y el Contador */
.countdown-love-section {
  height: 600px;
  padding: 30px;
  background: #ffffff; /* Fondo completamente sólido */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #2a6880;
  position: relative; /* Asegura que esta sección se superponga */
  z-index: 2; /* Coloca esta sección por encima de la imagen de fondo */
}


.countdown-love-section h2 {
  font-family: 'Tangerine', cursive;
  font-size: 48px;
  color: #2a6880;
  margin-bottom: 10px;
}

.countdown-love-section p {
  font-size: 1.5em;
  color: #555555;
  margin-bottom: 20px;
  font-family: 'Funnel Display', sans-serif;
}

/* Contenedor del Contador */
#countdown-section {
  padding-bottom: 40px;
  width: 100%;
  text-align: center;
}

.time-part {
  background: #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
  width: 80px;
  box-shadow: 0 4px 10px rgba(42, 104, 128, 0.2);
  transition: transform 0.3s;
}

.time-part:hover {
  transform: translateY(-5px);
}

.number {
  font-size: 1.5em;
  font-weight: bold;
  color: #2a6880;
  font-family: 'Funnel Display', sans-serif;
}

.label {
  font-size: 12px;
  color: #555555;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Ajustes para mayor espacio entre el contador y la foto final */
.celebration-video {
  margin-top: 50px;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.celebration-video img {
  width: 100%;
  height: auto;
}


/* Ajustes para mayor espacio entre el contador y la foto final


.regalos {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
} */